/**
Author: 松鼠大大
Author URL: https://doge.uk/
Version: 1.1.7
@requires useragent.css
*/

.ua-icon {
	display: inline-block;
	padding: .2em .6em .3em;
	box-shadow: 0 0 8px #00000080;
	color: #fff;
	font-size: 75%;
	border-radius: .25em;
	margin-left: 5px;
	max-width: 130px;
	opacity: 0.8;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}

.iconfontua {
	font-size: inherit;
	text-rendering: auto;
	display: inherit;

}

.ua-hover {
	opacity: 0;
	transition: 1.25s;
	position: fixed;
	visibility: hidden;
	top: -100%;
	left: -100%;
}


.comment-body:hover .ua-hover {
	opacity: 0.8;
	position: inherit;
	visibility: visible;
}